*{
  margin:0;
  padding:0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  // 10px
}
body{
  box-sizing: border-box;
  .container-fluid{
    height:100vh;
    background: url("../assets/pexels-photo-574282.jpeg") center /cover no-repeat;
  }
  input[type="radio"],
  input[type="checkbox"]{
    display: none;
  }
}